.select-block {
    position: relative;
}

.select-block + .select-block {
    margin-top: 1.4rem;
}

.select-block label {
    font-size: 1.4rem;
}

.select-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}